{% extends "web/Base.html" %}

{% block body %}
    <body class="bg-warning">


{% block container %}

    <div class="col-sm-6">
        <h2 class="alert-primary offset-2 text-center mt-5 rounded-3">Sign Up</h2>
        <div class="alert-success offset-2 p-3 rounded-3">
            <form method='post' novalidate>
            {% csrf_token %}
            {% for fm in form %}
                <strong class="text-dark">{{fm.label_tag}}</strong> {{fm}} <b class="text-danger offset-8">{{fm.errors | striptags}}</b> <br>
            {% endfor %}
        <input type="submit" value='submit' class="btn btn-success offset-5">
        </form>
        </div>
        <a href={% url 'signin' %} class="btn bg-info mt-2 offset-2">Login</a>
    </div>
    
    <div class="col-sm-4 offset-4 mt-2">
        {% if messages %}
            {% for message in messages %}
        <div class="alert alert-success text-center" role="alert">
        <strong>{{message}}</strong>
        </div>
            {% endfor %}
    {% endif %}
    </div>    

{% endblock container %}


</body>
{% endblock body %}